
/*   universal rules   */

* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    line-height: 1.5;
}

html {
    scroll-padding: 150px;
}
  
:root {
    --primary-color: black;
    --secondary-color: #f5f5f5;
    --tertiary-color: black;
    --background-color: #fff;
}


body {
    background-color: black;
}
/*   header  */

header {
    height: 150px;
    padding: 20px 35px;
    background-color: var(--teriary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("./images/4709159.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    position: relative;
}

.img-div {
    margin: auto auto;
}

.img-div img{
    width: 500px;
    align-items: center;
}

h2 {
    display: inline;
}

/* timer styles*/

h2 {
    color: white;
    -webkit-text-stroke: 1px #ffd5f4;
}

#timer {
    font-size: 40px;
    display: inline-block;
    position: absolute;
    left: 0;
    color: #ff00bb;
    margin: 32px 0 auto 16px;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 0 8px;
	font-size: 40px;
	-webkit-text-stroke: 1px white;
}

/* Flex */

.flex-question {
    text-align: center;

}

#question {
    font-size: 24px;
    color: white;
    -webkit-text-stroke: 1px #ffe9f9;
}

.options {
    margin: 0 auto;
    width: fit-content;
}

ul {
    list-style: none;
    font-size: 20px;
    color: white;
    margin: auto auto;
    width: 300px;
}

ul li:hover {
    font-style: italic;
    border-color: #ff00bb;
}

ul li {
    margin: 8px 0;
    border: 1px solid white;
    padding-left: 4px;
    border-radius: 5px;
}


#question-result {
    font-size: 24px;
    color: white;

}